@require "helpers"

html
  background-color #D74C59

h1
  padding 10px
  color #FAA4AD
  background-color #98121E

p
  text-align center

.welcome
  color #FAA4AD
  font-size 18px
  text-size 28px
  text-align center