@require "helpers"

html
  background #FFFFFF

.register-form
  text-align center
  color: #01af9e
  width: 80%
  transform translate(-50%, -50%)
  position absolute
  top 50%
  left 50%
  overflow auto

.heading
  border none

.inputs
  border none
  padding-bottom 10px

.text-input
  padding 10px
  border solid 2px #c9c9c9
  margin 0.5%
  transition border 0.3s
  width 40%

.text-input-half
  padding 10px
  border solid 2px #c9c9c9
  margin 0.5%
  transition border 0.3s
  width 18.25%

.text-input:focus
.text-input-half:focus
  border solid 2px #01af9e
  outline none

.forgot
  font-size 15px
  text-align right 40%
  padding-top 1%
  padding-bottom  1%
  color: #01af9e

button
  background-color #01af9e
  border none
  color #FFFFFF
  padding 8px 20px
  text-align center
  text-decoration none
  display inline-block
  font-size 16px
  margin 4px
  border-radius 8px

button:focus
  outline none

a
  text-decoration none

