extends template

block cssSheets
    link(rel='stylesheet', href='/stylesheets/login.css')

block content
    script(src='/js/script.js')
    .outerBox
    img(src="images/pintu.png" class="pintuLogo")
    form.login-form#login-form
        .heading
            h1 
                div Login
        .inputs
            .input-row
                .input-box
                    input.text-input(type='text' name='username' placeholder='Username' maxlenth='20')
                .input-box
                    input.text-input(type='password' name='password' placeholder='********' maxLength='40')
                a(href='/register')
                    p.forgot Register

        script(src='/js/script.js')
            
        button.login-button(type='button' onclick='login()') Login