
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Amaze UI Admin index Examples
    meta(name='description', content='这是一个 index 页面')
    meta(name='keywords', content='index')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='renderer', content='webkit')
    meta(http-equiv='Cache-Control', content='no-siteapp')
    link(rel='icon', type='image/png', href='i/favicon.png')
    link(rel='apple-touch-icon-precomposed', href='i/app-icon72x72@2x.png')
    meta(name='apple-mobile-web-app-title', content='Amaze UI')
    link(rel='stylesheet', href='stylesheets/amazeui.min.css')
    link(rel='stylesheet', href='stylesheets/admin.css')
    link(rel='stylesheet', href='stylesheets/app.css')

    block styles

  body(data-type='generalComponents')
    header.am-topbar.am-topbar-inverse.admin-header
      .am-topbar-brand
        a.tpl-logo(href='javascript:;')
          img(src='images/logo.png', alt='')
      .am-icon-list.tpl-header-nav-hover-ico.am-fl.am-margin-right
      button.am-topbar-btn.am-topbar-toggle.am-btn.am-btn-sm.am-btn-success.am-show-sm-only(data-am-collapse="{target: '#topbar-collapse'}")
        span.am-sr-only 导航切换
        span.am-icon-bars
      #topbar-collapse.am-collapse.am-topbar-collapse
        ul.am-nav.am-nav-pills.am-topbar-nav.am-topbar-right.admin-header-list.tpl-header-list
          li.am-dropdown(data-am-dropdown='', data-am-dropdown-toggle='')
            a.am-dropdown-toggle.tpl-header-list-link(href='javascript:;')
              span.am-icon-bell-o
              |  提醒 
              span.am-badge.tpl-badge-success.am-round 5
            ul.am-dropdown-content.tpl-dropdown-content
              li.tpl-dropdown-content-external
                h3
                  | 你有 
                  span.tpl-color-success 5
                  |  条提醒
                a(href='###') 全部
              li.tpl-dropdown-list-bdbc
                a.tpl-dropdown-list-fl(href='#')
                  span.am-icon-btn.am-icon-plus.tpl-dropdown-ico-btn-size.tpl-badge-success
                  |  【预览模块】移动端 查看时 手机、电脑框隐藏。
                span.tpl-dropdown-list-fr 3小时前
              li.tpl-dropdown-list-bdbc
                a.tpl-dropdown-list-fl(href='#')
                  span.am-icon-btn.am-icon-check.tpl-dropdown-ico-btn-size.tpl-badge-danger
                  |  移动端，导航条下边距处理
                span.tpl-dropdown-list-fr 15分钟前
              li.tpl-dropdown-list-bdbc
                a.tpl-dropdown-list-fl(href='#')
                  span.am-icon-btn.am-icon-bell-o.tpl-dropdown-ico-btn-size.tpl-badge-warning
                  |  追加统计代码
                span.tpl-dropdown-list-fr 2天前
          
          li.am-dropdown(data-am-dropdown='', data-am-dropdown-toggle='')
            a.am-dropdown-toggle.tpl-header-list-link(href='javascript:;')
              span.tpl-header-list-user-nick 禁言小张
              span.tpl-header-list-user-ico
                img(src='images/user01.png')
            ul.am-dropdown-content
              li
                a(href='#')
                  span.am-icon-bell-o
                  |  资料
              li
                a(href='#')
                  span.am-icon-cog
                  |  设置
              li
                a(href='#')
                  span.am-icon-power-off
                  |  退出
          li
            a.tpl-header-list-link(href='###')
              span.am-icon-sign-out.tpl-header-list-ico-out-size
              
    block content

    block script

    script(src='js/jquery.min.js')
    script(src='js/amazeui.min.js')
    script(src='js/app.js')
    script(src='js/iscroll.js')